@*@model BookingVM*@

@model BookingUpdateDTO

<form method="post">
    <div class="border p-3 mt-4">


        <div class="row pb-2">
            <h2 class=" text-primary">Book Event</h2>
            <hr />

             
            <input hidden asp-for="BookingId" />

            <div class="mb-3" row>
                <label style="border">Event Name : </label>  @ViewBag.BEventInfo.eventName

            </div>
            <div class="mb-3" row>
                <label style="border"> Available Seats : </label>  @ViewBag.BEventInfo.availableSeats

            </div>


            <div class="mb-3" row>
                <label asp-for="TotalSeatsBooked"></label>
                <input asp-for="TotalSeatsBooked" class="form-control" />
                <span asp-validation-for="TotalSeatsBooked" class="text-danger"></span>
            </div>


       @*     <div class="mb-3" row>
                <label asp-for="EventId"></label>
                <input asp-for="EventId" disabled value="@ViewBag.BEventInfo.EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
*@


        </div>
        <div class="row">



            <div class="col-6 col-md-6">
                <button type="submit" name="SubmitButton" class="btn btn-sm btn-success">Book</button>
            </div>

        </div>


    </div>
</form>


@{
    TempData["name"] = ViewBag.BEventInfo.id;
}