@model BEventUpdateDTO

<form method="post">
    <div class="border p-3 mt-4">


        <div class="row pb-2">
            <h2 class=" text-primary">Edit List</h2>
            <hr />

            <input hidden asp-for="id" />
            <div class="mb-3" row>
                <label asp-for="eventName"></label>
                <input asp-for="eventName" class="form-control" />
                <span asp-validation-for="eventName" class="text-danger"></span>
            </div>

            <div class="mb-3" row>
                <label asp-for="eventDescription"></label>
                <input asp-for="eventDescription" class="form-control" />
                <span asp-validation-for="eventDescription" class="text-danger"></span>
            </div>



            <div class="mb-3" row>
                <label asp-for="location"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>

            <div class="mb-3" row>
                <label asp-for="eventDate"></label>
                <input asp-for="eventDate" class="form-control" />
                <span asp-validation-for="eventDate" class="text-danger"></span>
            </div>

            <div class="mb-3" row>
                <label asp-for="availableSeats"></label>
                <input asp-for="availableSeats" class="form-control" />
                <span asp-validation-for="availableSeats" class="text-danger"></span>
            </div>



        </div>
        <div class="row">



            <div class="col-6 col-md-6">
                <button type="submit" name="SubmitButton" value="Approve" class="btn btn-sm btn-success">Approve</button>
            </div>
            <div class="col-6 col-md-6">
                <button type="submit" name="SubmitButton" value="Reject" class="btn btn-sm btn-danger">Reject</button>
            </div>
        </div>


    </div>
</form>